.App {
  text-align: center;
}

body.sigin-body {
  background-color: #e6f2ff;
}

.container.signin-container {
  margin-top: 8%;
}

form.sigin-form {
  max-width: 350px;
  margin: auto;
}

button.signin-btn {
  color: #ffffff;

  width: 100%;
  margin-bottom: 1.2rem;
}

a.create-new-account {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  margin-top: 15px;
}


.bg-nav-custom{
  background-color: #e0e0e0;
}
h2.title-custom{
  color: #0d5eea;
  font-size:20px;
}

button.MuiButton-containedPrimary, button.MuiButton-containedPrimary:hover{
  background-color: #007bff;
  border-radius: .25rem;
  font-size:.75rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
