.App {
  text-align: center;
}

body.sigin-body {
  background-color: #e6f2ff;
}

.container.signin-container {
  margin-top: 8%;
}

form.sigin-form {
  max-width: 350px;
  margin: auto;
}

button.signin-btn {
  color: #ffffff;

  width: 100%;
  margin-bottom: 1.2rem;
}

a.create-new-account {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  margin-top: 15px;
}


.bg-nav-custom{
  background-color: #d8e2e9;
}
.title-custom{
  color: #d40a74;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
