* {
    box-sizing: border-box;
    font-family: Roboto;
}

.app_body {
    /*height: 100vh;*/
}

.app_main{
    min-height: 90vh;
    color: #1d1d1f;
}

.app_footer{
    position:relative;
    margin-top:auto;
    bottom: 0;
    width: 100vw;
    line-height: 35px;
    font-size: 14px;
    background-color: rgba(25, 36, 45, 1);
    color: #7b7e7f;
    padding: 2.2rem 0;
    z-index: 9000;
}

/*.landing-body::after {*/
/*    content: "";*/
/*    background-image: url('components/pages/landing-bg.svg');*/
/*    opacity: 0.5;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*}*/

.border-rounded {
    border-radius: 10%;
}


.navbar-nav > li {
    padding-left: 10px;
    padding-right: 30px;
}

.navbar {
    padding: .5rem 0;
}

.party_buttons > .btn{
    padding-left: 0;
}

button.MuiButton-containedPrimary, button.MuiButton-containedPrimary:hover {
    background-color: #007bff;
    border-radius: .25rem;
    font-size: .75rem;
}
button:focus{
    outline: none;
}
button.MuiButton-containedSecondary, button.MuiButton-containedSecondary:hover {
    background-color: crimson;
    border-radius: .25rem;
    font-size: .75rem;
}
div.MuiPaper-elevation2 {
    box-shadow: none;

}

td.MuiTableCell-root {
   padding:12px;
}
.MuiToolbar-root>.MuiToolbar-gutters{
    padding-left:0;
}

/*#grad1 {*/
/*    height: 200px;*/
/*    background-color: #cccccc;*/
/*    background-image: linear-gradient(red, yellow);*/
/*    opacity: 10%;*/
/*}*/



@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
